<h1>Din profil</h1>
<h2>Kontouppgifter</h2>
<ul>
    <li><strong>Din epost</strong>: {{ adat.email }}</li>
    <li><strong>Kontot skapades</strong>: {{ adat.created }}</li>
    <li><strong>Dina valutor</strong></li>
</ul>

<table>
    <tr>
        <th><img src="../../assets/images/flag_se.png" alt="Swedish flag"></th>
        <th><img src="../../assets/images/flag_eu.png" alt="EU flag"></th>
        <th><img src="../../assets/images/flag_uk.png" alt="British flag"></th>
        <th><img src="../../assets/images/flag_us.png" alt="US flag"></th>
        <th><img src="../../assets/images/flag_ch.png" alt="Swiss flag"></th>
    </tr>
    <tr>
        <td><strong>{{ adat.sek.toFixed(2) }}</strong> SEK</td>
        <td><strong>{{ adat.eur.toFixed(2) }}</strong> EUR</td>
        <td><strong>{{ adat.gbp.toFixed(2) }}</strong> GBP</td>
        <td><strong>{{ adat.usd.toFixed(2) }}</strong> USD</td>
        <td><strong>{{ adat.chf.toFixed(2) }}</strong> CHF</td>
    </tr>
</table>
<div class="payment center">
    <h2>Betala in pengar</h2>
    <form>
        <button type="submit" class="btn btn-success" (click)="addtobalance()">Lägg till </button>
        <input type="number" name="amount" value="" [(ngModel)]="amount" min="1" max="5000" required> SEK
    </form>
</div>
<h2 class="center">Historik</h2>
<div class="center">
    <div class="history">
        <h3>Inbetalningar</h3>
        <table>
            <tr>
                <th>Datum</th>
                <th>Summa</th>
            </tr>
            <tr *ngFor="let payment of payments">
                <td>{{payment.payment_date}}</td>
                <td>{{payment.amount}} SEK</td>
            </tr>
        </table>
    </div>
    <div class="history">
        <h3>Transaktioner</h3>
        <table>
            <tr>
                <th>Datum</th>
                <th>Köpt</th>
                <th>Sålt</th>
            </tr>
            <tr *ngFor="let transaction of transactions">
                <td>{{transaction.transaction_date}}</td>
                <td>{{transaction.purch_amount}} {{transaction.purch_currency}}</td>
                <td>{{transaction.sold_amount}} {{transaction.sold_currency}}</td>
            </tr>
        </table>
    </div>
</div>
<!-- <p class="clear">X.X</p> -->
<div class="finalimage">
    <img class="finalimage" src="../../assets/images/time.png" alt="Transaktion">
</div>
