<h1>Aktuella valutakurser</h1>
<p>{{ rates.gbp }} GBP = {{ rates.sek }} SEK</p>
<p>{{ rates.gbp }} GBP = {{ rates.usd }} USD</p>
<p>{{ rates.gbp }} GBP = {{ rates.eur }} EUR</p>
<p>{{ rates.gbp }} GBP = {{ rates.chf }} CHF</p>

<h2>De senaste transaktionerna</h2>

<p>För närvarande har vi <strong>{{ adat.nrofusers }} användare</strong>. Våra användare har hittills gjort <strong>{{ adat.nroftransactions }} transaktioner</strong> och <strong>{{ adat.nrofpayments }} inbetalningar</strong>.</p>

<div class="chart-wrapper">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="barChartColors">
  </canvas>
</div>

<div class="chart-wrapper">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
</div>
