<h1>Aktuella kurser</h1>
<!-- <p>{{ rates.gbp }} GBP = {{ rates.sek }} SEK</p>
<p>{{ rates.gbp }} GBP = {{ rates.usd }} USD</p>
<p>{{ rates.gbp }} GBP = {{ rates.eur }} EUR</p>
<p>{{ rates.gbp }} GBP = {{ rates.chf }} CHF</p> -->

<p>1 GBP = {{ rates.gbp }} SEK</p>
<p>1 USD = {{ rates.usd }} SEK</p>
<p>1 EUR = {{ rates.eur }} SEK</p>
<p>1 CHF = {{ rates.chf }} SEK</p>


<h2>Live infographic</h2>

<div class="chart-wrapper">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="barChartColors">
  </canvas>
</div>

<div class="chart-wrapper">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
</div>
