<h1>Aktuella kurser</h1>
<p>1 CHF = {{ currentValues[0] }} SEK</p>
<p>1 EUR = {{ currentValues[1] }} SEK</p>
<p>1 GBP = {{ currentValues[2] }} SEK</p>
<p>1 USD = {{ currentValues[3] }} SEK</p>

<h2>Live infographic</h2>

<div class="chart-wrapper">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="barChartColors">
  </canvas>
</div>

<div class="chart-wrapper">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
</div>

<h2>Meddelanden</h2>
<div id="all-messages" class="all-messages">
    <p *ngFor="let message of currentValues">
        {{message}}
    </p>
</div>
