<div ng-app="myApp" ng-controller="myCtrl">
    <h1>Handla med valutor</h1>
    <h2>Här kan du välja vad du vill sälja och köpa:</h2>

    <form>
        Jag vill köpa
        <select name="purch_currency" [(ngModel)]="purch_currency">
            <option value="SEK">SEK</option>
            <option value="CHF">CHF</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
        </select>
         och sälja
        <select name="sold_currency" [(ngModel)]="sold_currency">
            <option *ngFor="let currency of canbesold" value="{{ currency }}">{{ currency }}</option>
        </select>
    </form>

    <div *ngIf="sold_currency && purch_currency">
        <h2>Kontobalans</h2>
        <p>Du har x {{ sold_currency }}. Du kan köpa högst y {{ purch_currency }}.</p>
        <h2>Aktuell valutakurs</h2>
        <p>1 {{ purch_currency }} kostar {{ getRate(1, rates[purch_currency | lowercase], rates[sold_currency | lowercase]) }} {{ sold_currency }}</p>
        <!-- <h3>{{ getRate(1, rates[purch_currency | lowercase], rates[sold_currency | lowercase]) }}</h3> -->
    </div>
    <!-- <h3>{{ myData | getRate: 1 : 'sek' : 'eur' }}</h3> -->
</div>
