<div ng-app="myApp" ng-controller="myCtrl">
    <h1>Handla med valutor</h1>
    <h2>Här kan du välja vad du vill sälja och köpa:</h2>

    <form>
        Jag vill köpa
        <select name="purch_currency" [(ngModel)]="purch_currency">
            <option value="SEK">SEK</option>
            <option value="CHF">CHF</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="USD">USD</option>
        </select>
         och sälja
        <select name="sold_currency" [(ngModel)]="sold_currency">
            <option *ngFor="let currency of canbesold" value="{{ currency }}">{{ currency }}</option>
        </select>
    </form>

    <div *ngIf="sold_currency && purch_currency">
        <h2>Aktuell valutakurs</h2>
        <p>1 {{ purch_currency }} kostar 0.1 {{ sold_currency }}</p>
    </div>
    <!-- <h3>{{ sold }}</h3> -->
</div>
