<div ng-app="myApp" ng-controller="myCtrl">
    <h1>Forex trading</h1>

    <h2>Våra tjänster</h2>
    <ul>
        <li>Vi ger dig ett <strong>startkapital</strong> på 1000 kr och sedan kan du göra ytterligare inbetalningar.</li>
        <li>Du handlar med SEK, EUR, USD, GBP och CHF <strong>utan provisioner</strong>.</li>
        <li>Valutakurserna <strong>uppdateras</strong> var femte sekund.</li>
        <li>Du får tillgång till valutornas <strong>historik</strong>.</li>
    </ul>

    <h2>Här kan du</h2>
    <form>
        <input id="rad1" type="radio" name="loginPage" [(ngModel)]="loginPage" value="login">
        <label class="radlabel" for="rad1">LOGGA IN</label><br>
        <input id="rad2" type="radio" name="loginPage" [(ngModel)]="loginPage" value="register">
        <label class="radlabel" for="rad2">REGGA DIG</label><br><br>
    </form>

    <div [ngSwitch]="loginPage">
        <div *ngSwitchCase="'login'">
            <h3>Logga in med en befintlig användare</h3>
            <p class="danger">{{ errormsg }}</p>
            <form>
                <label for="email">Din epostadress</label><br>
                <input type="email" name="email" value="" [(ngModel)]="email" required><br>
                <label for="password">Ditt lösenord</label><br>
                <input type="password" name="password" value="" [(ngModel)]="password" required><br>
                <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            </form>
            <p>De allra flesta som ägnar sig åt hasardspel blir av med sina pengar. Tänk på detta innan du loggar in.</p>
        </div>
        <div *ngSwitchCase="'register'">
            <h3>Skapa en ny användare</h3>
            <p class="danger">{{ errormsg2 }}</p>
            <form>
                <label for="email">Din epostadress</label><br>
                <input type="email" name="email" value="" [(ngModel)]="email" required><br>
                <label for="password">Ditt lösenord</label><br>
                <input type="password" name="password" value="" [(ngModel)]="password"><br>
                <button type="submit" class="btn btn-success" (click)="register()">Register</button>
            </form>
            <p>De allra flesta som ägnar sig åt hasardspel blir av med sina pengar. Tänk på detta innan du reggar dig.</p>
        </div>
    </div>

</div>
